main.registration {
  max-width: 1800px;
  height: 972px;
  background-image: url(../images/registration_authorization/neft_skv_blur.svg);
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

nav.nav-registration {
  padding: 10px 29px;
  align-items: center;
  left: 28px;
  top: 25px;
  position: absolute;
  background-color: #48547C;
}

nav.nav-registration .lk:hover #background-lk {
  fill: #EBF7FF;
}

.registration-form {
  position: absolute;
  top: 167px;
  left: 500px;
  background-color: rgb(72, 84, 124, 0.86);
  border-radius: 50px;
  padding: 40px 75px;
  max-width: 650px;
  width: 100%;
  color: #EBF7FF;
  text-align: center;
}

.registration-form h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 37px;
}

.form-group {
  margin-bottom: 24px;
  text-align: center;
}

.form-group label {
  display: none; 
}

.form-group input {
  font-family: Montserrat;
  line-height: 32px;
  max-width: 570px;
  width: 100%;
  padding: 31px 38px;
  border: none;
  border-radius: 65px;
  background-color: #EBF7FF;
  font-size: 26.33px;
  font-weight: 500;
  color: #33343b;
}

.form-group input::placeholder {
  color: rgb(72, 84, 124, 0.3);
}

button.button-registration, button.button-registration-disabled {
  max-width: 500px;
  width: 100%;
  padding: 31px 66px;
  border: none;
  border-radius: 65px;
  background-color: #8B9DD8;
  color: #33343b;
  font-size: 26.33px;
  font-weight: 700;
  line-height: 32px;
  cursor: pointer;
}

button.button-registration-disabled {
  color: rgb(51, 52, 59, 0.2);
}

button.button-registration:hover {
  color: #EBF7FF;
}

.additional-info {
  margin-top: 24px;
  font-size: 26.33px;
  font-weight: 600;
  line-height: 32px;
  max-width: 393px;
}

.additional-info a {
  color: #8B9DD8;
  text-decoration: underline;
}

.additional-info a:hover {
  text-decoration: none;
  color: #EBF7FF;
}
